<h2>Students</h2>
<input type="radio" [(ngModel)]="team"  name="team" value="">All
<input type="radio" [(ngModel)]="team"  name="team" value="Communication">Communication
<input type="radio" [(ngModel)]="team"  name="team" value="Design">Design
<input type="radio" [(ngModel)]="team"  name="team" value="Development">Development
<input type="radio" [(ngModel)]="team"  name="team" value="UX">UX
<br>

<div *ngFor="let student of students | teamFilter:team">
	<b>{{student.name}}</b>
	<br>
	<img src="{{student.thumbnail}}" alt="" style="height: 100px; width: 100px">
	<ul>
		<li *ngFor="let assign of student.assignments">
			{{assign.project_name}}
		</li>
	</ul>
</div>

<project-student-footer [activePage]="'students'"></project-student-footer>
