<!-- <h2>Projects</h2>

<section>
  <button type="button" (click)="goToDetails(1)">Project 1 Details</button>
  <button type="button" (click)="goToDetails(2)">Project 2 Details</button>
  <button type="button" (click)="goToDetails(3)">Project 3 Details</button>
</section>

<br>

<project-student-footer (addProjectEvent)="addNewProject($event)" [activePage]="'projects'"></project-student-footer> -->

<nav>
  <ul>
    <li class="active-nav">
      <a>All</a>
    </li>
    <li>
      <a>Pitch</a>
    </li>
    <li>
      <a>Research</a>
    </li>
    <li>
      <a>Production</a>
    </li>
    <li>
      <a>Delivered</a>
    </li>
    <li>
      <a>Archived</a>
    </li>
  </ul>
</nav>

<section class="project grid">
  <ul [ngStyle]="{'width': projectWidth}">
    <li *ngFor="let project of projects">
      <div class="list">
        <h1>{{project.name}}</h1>
        <div class="number">
          <h2>{{project.students.length}}</h2>
          <h3>students</h3>
        </div>
        <time>{{project.formatedDeadline}}</time>
      </div>
    </li>
  </ul>
</section>

<project-student-footer (addProjectEvent)="addNewProject($event)" [activePage]="'projects'"></project-student-footer>
