<!-- <h2>Projects</h2>

<section>
  <button type="button" (click)="goToDetails(1)">Project 1 Details</button>
  <button type="button" (click)="goToDetails(2)">Project 2 Details</button>
  <button type="button" (click)="goToDetails(3)">Project 3 Details</button>
</section>

<br>

<project-student-footer (addProjectEvent)="addNewProject($event)" [activePage]="'projects'"></project-student-footer> -->

<nav>
  <ul>
    <li (click)="setSelectedStatus('')" [ngClass]="{'active-nav': selectedStatus == ''}">
      <a>All</a>
    </li>
    <li (click)="setSelectedStatus('Pitch')" [ngClass]="{'active-nav': selectedStatus == 'Pitch'}">
      <a>Pitch</a>
    </li>
    <li (click)="setSelectedStatus('Research')" [ngClass]="{'active-nav': selectedStatus == 'Research'}">
      <a>Research</a>
    </li>
    <li (click)="setSelectedStatus('Production')" [ngClass]="{'active-nav': selectedStatus == 'Production'}">
      <a>Production</a>
    </li>
    <li (click)="setSelectedStatus('Delivered')" [ngClass]="{'active-nav': selectedStatus == 'Delivered'}">
      <a>Delivered</a>
    </li>
    <li (click)="setSelectedStatus('Archived')" [ngClass]="{'active-nav': selectedStatus == 'Archived'}">
      <a>Archived</a>
    </li>
  </ul>
</nav>

<section class="project grid">
  <ul [ngStyle]="{'width': projectWidth}">
    <li *ngFor="let project of filteredProjects">
      <div class="list">
        <h1>{{project.name}}</h1>
        <div class="number">
          <h2>{{project.students.length}}</h2>
          <h3>students</h3>
        </div>
        <time>{{project.formatedDeadline}}</time>
      </div>
    </li>
  </ul>
</section>

<div [hidden]="filteredProjects.length > 1 || selectedStatus ==''">
  Nothing to See Here
</div>

<project-student-footer (addProjectEvent)="addNewProject($event)" [activePage]="'projects'"></project-student-footer>
