.notes {
  float: right;
  width: 27%;
  height: 100%;
  margin-right: 50px;
}

.notes section {
  border: 0.5px solid #E6E6E6;
  background-color: #F6F6ED;
  padding: 10px;
  height: 100%;
}

.notes section input {
  line-height: 2;
  height: 100%;
}
