<div>
  <h2>{{project.name}}</h2>
  <h3>{{project.status}}</h3>
  <p>{{project.description}}</p>
  <p>
    {{projectTimeRemaining}} days remaining
  </p>
  <br>
  <div>
    important dates
    <ul *ngFor="let date of project.dates">
      <li>{{date.formatedDate}}</li>
      <li>{{date.name}}</li>
      <li>{{date.description}}</li>
    </ul>
  </div>
  <br>
  <div>
    <ul *ngFor="let task of project.tasks">
      <li>{{task.name}}</li>
    </ul>
    <input [(ngModel)]="newTask"/>
    <button (click)="addProjectTask(newTask)">add task</button>
  </div>
  <div class="notes">
      <section>
          <p contenteditable="true" [textContent]="projectNotes" (input)="projectNotes=$event.target.textContent" (blur)="editProjectNotes()"></p>
      </section>
  </div>
</div>

<div>
  JPM:
  {{projectJPM.name}} <img src={{projectJPM.thumbnail}}/>
</div>
<div>
  <h5>{{staffMember.name}}</h5>
  <img src={{staffMember.thumbnail}}/>
</div>
<div>
  <br> students
  <ul>
    <li *ngFor="let student of project.students">
      <img src={{student.thumbnail}}  *ngIf="student.id !== projectJPM.id"/>
    </li>
  </ul>
</div>
<br>
<div>
  <input type="text" name="dateName" [(ngModel)]="dateName">
  <input type="text" name="dateDescription" [(ngModel)]="dateDescription">
  <input type="text" name="dateString" [(ngModel)]="dateString">
  <button type="button" (click)="createNewDate()"> Submit</button>
</div>
<button type="button" (click)="goToProjects()">Projects</button>
<button type="button" (click)="goToStudents()">Students</button>
